html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: ;
  transition-duration: 1.2s;
}

h1, h2, h3, p {
  position: relative;
  z-index: 99;
}

.logo-bar {
  padding: 14em 0 18em 0;
}

.page-item {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  padding-bottom: 25px;
}

.entry-item-left {
  width: 75%;
  margin: 0 auto;
}

.entry-item-right {
  width: 70%;
  margin: 0 auto;
}

.title {
  margin-bottom: 25px;
  text-transform: uppercase;
}

.logo {
  text-transform: uppercase;
}

.invisible-block-left {
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.invisible-block-right {
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.black {
  color: white;
  background-image: url(dark-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 782px){

.invisible-block-left {
  display:none;
}

.invisible-block-right {
  display:none;
}
  
}
