/* BEGIN STYLES */

html, body {
  margin: 0;
  height: 100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: .6s;
}

h1, h2, h3, p {
  position: relative;
  z-index: 99;
}

.logo-bar {
  padding: 7vh 0 42vh 0;
}

#logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 28%;
  height: auto;
}

.page-item {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  padding-bottom: 3em;
}

.entry-item-left {
  width: 60%;
  margin: 0 auto;
}

.entry-item-right {
  width: 60%;
  margin: 0 auto;
}

.title {
  margin-bottom: 25px;
  text-transform: uppercase;
}

.logo {
  text-transform: uppercase;
}

.invisible-block-left {
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.invisible-block-right {
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.black {
  color: black;
}

/*MEDIA QUERIES*/

/* @media screen and (max-width: 782px){

.invisible-block-left {
  display: hidden;
}

.invisible-block-right {
  display: hidden;
}

#logo {
  width: 90%;
}

htlm, body {
  background-image: none;
}

} */
